header img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-txt {
  gap: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  padding-left: 30px;
  color: white;
}

.hero-txt h1 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 200;
}

.hero-txt h1 span {
  font-weight: 500;
}

.hero-txt a {
  color: white;
  font-weight: 200;
  text-decoration: none;
  padding: 25px;
  border: 1px solid white;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .hero-txt a {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    font-weight: 300;
  }
}
