.bg-white {
  background-color: white;
}

.section-services {
  display: flex;
  padding: 25px;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
}

.blonde-woman {
  max-width: 520px;
}

.section-services h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  margin-top: 80px;
}

.section-services h2 span {
  font-weight: 700;
}

.services-p {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.service-p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.service-p img {
  width: 50px;
}

@media screen and (max-width: 950px) {
  .section-services {
    justify-content: center;
  }
  .blonde-woman {
    width: 100%;
  }
  .section-services h2 {
    margin-top: 20px;
  }
}
